{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <div class="uk-grid uk-margin-medium">
        <div class="uk-width-1-3"></div>
        <div class="uk-width-1-3">
            <h1  class="uk-text-center">Tous les lieux enregistrés</h1>
        </div>
        <div class="uk-width-1-3"></div>
    </div>

    <div class="uk-grid uk-padding-medium">
        <div class="uk-width-1-6"></div>
        <div class="uk-width-1-6">Nom</div>
        <div class="uk-width-1-6">Rue</div>
        <div class="uk-width-1-6">Latitude</div>
        <div class="uk-width-1-6">Longitude</div>
        <div class="uk-width-1-6">Actions</div>
    </div>

    <body>
    {% for lieu in lieus %}
        <div class="uk-grid uk-padding-medium">
            <div  class="uk-width-1-6"></div>
            <div  class="uk-width-1-6">{{ lieu.nom }}</div>
            <div  class="uk-width-1-6">{{ lieu.rue }}</div>
            <div  class="uk-width-1-6">{{ lieu.latitude }}</div>
            <div  class="uk-width-1-6">{{ lieu.longitude }}</div>

            <div  class="uk-width-1-6">
                <p class="uk-margin">
                    <a class="uk-button uk-button-default" href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">Modifier</a>
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <div colspan="3">no records found</div>
        </div>
    {% endfor %}
    </body>
{#    <div class="uk-grid uk-padding-medium">
        <div  class="uk-width-1-6"></div>
        <div  class="uk-width-1-6">
            <a href="{{ path('app_lieu_new') }}">Créer un nouveau lieu</a>
        </div>
        <div  class="uk-width-1-6"></div>

    </div>#}

{% endblock %}
