<div class="uk-form-horizontal uk-margin-large">
    {{ form_start(form) }}
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.pseudo) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" value="{{ field_value(form.pseudo) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.prenom) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" value="{{ field_value(form.prenom) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.nom) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" value="{{ field_value(form.nom) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.telephone) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="tel" value="{{ field_value(form.telephone) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.email) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="email" value="{{ field_value(form.email) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.password.first) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="password"
                   value="{{ field_value(form.password.first) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ field_label(form.password.second) }}</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="password"
                   value="{{ field_value(form.password.second) }}">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ form_label(form.campus) }}</label>
        <div class="uk-form-controls">
            {{ form_row(form.campus) }}
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">{{ form_label(form.roles) }}</label>
        <div class="uk-form-controls">
            {{ form_row(form.roles) }}
        </div>
    </div>
    <div class="js-upload" uk-form-custom>
        <input type="file" multiple>
        <button class="uk-button uk-button-default" type="button" tabindex="-1">{{ form_row(form.imageFile) }}</button>
    </div>
    <p uk-margin>
        <button class="uk-button uk-button-default" type="submit">Enregistrer</button>
    </p>
    {{ form_end(form,{render_rest: false}) }}
</div>