{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <h1>Gérer les campus</h1>
    <table class="uk-table uk-table-divider">
        <thead>
        <tr>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <p uk-margin>
                        <a class="uk-button uk-button-default" href="{{ path('app_campus_show', {'id': campus.id}) }}">show</a>
                        <a class="uk-button uk-button-default" href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>
                        {{ include('campus/_delete_form.html.twig') }}
                    </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p uk-margin>
        <a class="uk-button uk-button-default" href="{{ path('app_campus_new') }}">Ajouter</a>
    </p>
{% endblock %}
