{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Annuler une sortie</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Campus</th>
            <th>Lieu</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if sortie %}
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.campus.nom }}</td>
                <td>{{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>


    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}