{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Annuler une sortie</h1>

    {% if sortie %}
        <table class="table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Campus</th>
                <th>Lieu</th>
                <th><label for="motif">Motif</label> </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ sortie.campus.nom }}</td>
                    <td>{{ sortie.lieu.nom }}</td>
                    <td>
                        <input type="text" name="motif" value="{% set motif %}">
                    </td>
                    <td>

                    </td>
                </tr>
     {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    <a href="{{ path('app_sortie_index') }}">back to list</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}