{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la sortie</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }} minutes</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Description et infos</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <th>Campus</th>
                <td>{{ sortie.campus.nom }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ sortie.lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ sortie.lieu.rue }} </td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>

    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier cette sortie</a>

{% endblock %}
