<div class="uk-form-horizontal uk-margin-large">
    {{ form_start(form) }}
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
    <div class="uk-margin">
{#        <label class="uk-form-label" for="form-horizontal-text">{{ form_label(form.nom) }}</label>#}
        <div class="uk-form-controls">
{#            <input class="uk-input" id="form-horizontal-text" type="text" name="{{ field_name(form.nom) }}" value="{{ field_value(form.nom) }}">#}
            {{ form_row(form.nom) }}
        </div>
    </div>
    <div class="uk-margin">
{#        <label class="uk-form-label" for="form-horizontal-text">{{ form_label(form.codePostal) }}</label>#}
        <div class="uk-form-controls">
{#            <input class="uk-input" id="form-horizontal-text" type="text" name="{{ field_name(form.codePostal) }}" value="{{ field_value(form.codePostal) }}">#}
            {{ form_row(form.codePostal) }}
        </div>
    </div>
    <p uk-margin>
        <button class="uk-button uk-button-default">{{ button_label|default('Save') }}</button>
{#        <a href="{{ path('user_delete', {id: 2, _csrf_token: csrf_token('delete')}) }}">Supprimer</a>#}
    </p>
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
    {{ form_end(form, {render_rest: false}) }}
</div>