{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="uk-margin-large">
        <h1>Ville</h1>
    </div>

        <body>
        <div class="uk-grid">
            <div class="uk-width-1-5"></div>
            <div class="uk-width-1-5">Nom</div>
            <div class="uk-width-1-5"></div>
            <div class="uk-width-1-5">{{ ville.nom }}</div>
            <div class="uk-width-1-5"></div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-5"></div>
            <div class="uk-width-1-5">CodePostal</div>
            <div class="uk-width-1-5"></div>
            <div class="uk-width-1-5">{{ ville.codePostal }}</div>
            <div class="uk-width-1-5"></div>
        </div>

        </body>

    <div class="uk-grid">
        <div class="uk-width-1-3"></div>
        <div class="uk-width-1-3">
            <a class="uk-button uk-button-default" href="{{ path('app_ville_index') }}">back to list</a>
            <a class="uk-button uk-button-default" href="{{ path('app_ville_edit', {'id': ville.id}) }}">edit</a>
            <a class="uk-button uk-button-default" href="{{ path('app_ville_delete', {'id': ville.id}) }}">delete</a>
        </div>
        <div class="uk-width-1-3"></div>
    </div>

{% endblock %}
