<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# Pour le responsive #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('asset/img/favi.png') }}" type="image/x-icon"/>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.4/dist/css/uikit.min.css"/>
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<header>
    <nav class="uk-container uk-navbar">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{{ path('app_sortie_index') }}">
                        <img class="logo" src="{{ asset('asset/img/logo.png') }}">
                    </a>
                </li>
                <li class="uk-active">
                    {% if app.user %}
                        <a href="#"> Bienvenue {{ app.user.pseudo}} !</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@s">
                {% if app.user %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('app_participant_index') }}">Gérer les utilisateurs</a>
                        </li>
                        <li>
                            <a href="{{ path('app_ville_index') }}">Ville</a>
                        </li>
                        <li>
                            <a href="{{ path('app_campus_index') }}">Campus</a>
                        </li>
                        <li>
                            <a href="{{ path('app_sortie_index') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_participant_show', {'id': app.user.id}) }}">Mon profil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_sortie_index') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_participant_show', {'id': app.user.id}) }}">Mon profil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
        </div>
    </nav>
</header>
<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            {% if app.user %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                        <a href="{{ path('app_participant_index') }}">Gérer les utilisateurs</a>
                    </li>
                    <li>
                        <a href="{{ path('app_ville_index') }}">Ville</a>
                    </li>
                    <li>
                        <a href="{{ path('app_campus_index') }}">Campus</a>
                    </li>
                    <li>
                        <a href="{{ path('app_sortie_index') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_participant_show', {'id': app.user.id}) }}">Mon profil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_sortie_index') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_participant_show', {'id': app.user.id}) }}">Mon profil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% endif %}
            {% endif %}
            ....
        </ul>
    </div>
</div>

{% block body %}{% endblock %}

<footer>
    <div>
           <div class = "textFooter">  Sortir.com© Créée par Romuald LE CORROLLER, Bryan METRO et Hugo TESSIER</div>
    </div>
</footer>


<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.4/dist/js/uikit-icons.min.js"></script>
</body>
</html>
